<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{isomorphicHelper.projectName}}</title>
        <script type="text/javascript" src="/static/js/vendors.js"></script>

        <link rel="stylesheet" href="/static/css/{{pageId}}.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        {{{body}}}
        <script type="text/javascript" src="/static/js/{{pageId}}.js"></script>
    </body>
</html>
