<div class="whole-page">

    <div class="main error-page">
        <div id="error">
            <p>ERROR!</p>
            <h1>{{error.status}}</h1>
            <h2>{{error.message}}</h2>
            <pre>{{error.stack}}</pre>
        </div>
    </div>

</div>
